# dependencies
node_modules
.pnp
.pnp.*
.pnpm-store

# turbo
.turbo

# build output
dist
build
out

# nextjs
apps/nextjs/.next
apps/nextjs/.vercel
apps/nextjs/out

# sanity
apps/studio-sanity/.sanity
apps/studio-sanity/node_modules

# env
.env

# misc
.DS_Store
*.tsbuildinfo
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Docker
docker-compose.prod.yml